@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>This is the final project for SENG 6245 at East Carolina University.
    This project was created by the following students:
    Charles Counts
</p>
